@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccac00;
}

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

/* Header Blur Effect */
.header-blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}